.form {
    background-color: burlywood;
    margin: 1rem;
    border-radius: 5px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}
.form p {
    margin: 10px;
    padding: 5px;
}

.form p label {
    display: block;
}

.form p input, .form p textarea {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 0 5px 10px 5px;
    border-radius: 5px;
}

.cancelBtn {
    background-color: rgb(195, 88, 88);
}